<html>
<head>
	<title>เพลงพระราชนิพนธ์</title>
</head>
<body background="https://image.dek-d.com/26/3278690/112587558">
<div align="right" style="color: white">

<a href="home" >home</a>
<a href="kingsong1"  >kingsong1</a>
<a href="kingsong2"  >kingsong2</a>
<a href="kingsong3"  >kingsong3</a>
</div>
<center>
	<h1 >เพลงพระราชนิพนธ์</h1>
</center>	



<center>เพลงพระราชนิพนธ์<br><br>
	
	<img src ="http://www.thaihealth.or.th/data/content/2016/10/33507/cms/thaihealth_c_bjkopsvx3589.jpg" width="500" height="400">
</body>
</html>
