<html>
<head>
	<title>เพลงพระราชนิพนธ์</title>
</head>
<body background="https://image.dek-d.com/26/3278690/112587558">
<div align="right" style="color: white">

<a href="home" >home</a>
<a href="kingsong1"  >kingsong1</a>
<a href="kingsong2"  >kingsong2</a>
<a href="kingsong3"  >kingsong3</a>
</div>
<center>
	<h1 >ใกล้รุ่ง </h1>
	<p style="width: 500px">เพลงพระราชนิพนธ์ ใกล้รุ่ง หรือ Near Dawn เป็นเพลงพระราชนิพนธ์ลำดับที่ 4 ทรงพระราชนิพนธ์ใน พ.ศ. 2489 ขณะทรงเป็นสมเด็จพระอนุชาธิราช ทรงพระกรุณาโปรดเกล้าฯ ให้ศาสตราจารย์ ดร.ประเสริฐ ณ นคร ประพันธ์คำร้องภาษาไทย ส่วนคำร้องภาษาอังกฤษ ทรงพระกรุณาโปรดเกล้าฯ ให้ท่านผู้หญิงนพคุณ ทองใหญ่ ณ อยุธยา ประพันธ์</p>
	<iframe width="690" height="408" src="https://www.youtube.com/embed/VLBJQgWkgog" frameborder="0" allowfullscreen></iframe>
	<p style="width: 500px">
ได้ยินเสียงแว่วดังแผ่วมาแต่ ไกล ไกล
ชุ่มชื่นฤทัย หวานใดจะปาน
ฟังเสียงบรรเลง ขับเพลงประสาน
จากทิพย์วิมาน ประทานกล่อมใจ<br>

* ใกล้ยามเมื่อแสง ทอง ส่อง
ฉันคอยมองจ้อง ฟ้าเรืองรำไร
ลมโบกโบยมา หนาว ใจ
รอช้าเพียงไร ตะวันจะมา<br>

** เพลิดเพลินฤทัย ฟังไก่ประสานเสียงกัน
ดอกมะลิวัลย์ อวลกลิ่นระคนมณฑา
โอ้ในยามนี้ เพลิน หนักหนา
แสงทองนวลผ่องนภา แสนเพลินอุราสำราญ<br>

*** หมู่มวลวิหคบินผกมาแต่ รัง นอน
เฝ้าเชยชิดช้อน ลิ้มชมบัวบาน
ยินเสียงบรรเลง ดังเพลงขับขาน
สอดคล้องกังวาน ซาบซ่านจับใจ
	</p>
</center>	




	
</body>
</html>