<html>
<head>
	<title>เพลงพระราชนิพนธ์</title>
</head>
<body background="https://image.dek-d.com/26/3278690/112587558">
<div align="right" style="color: white">

<a href="home" >home</a>
<a href="kingsong1"  >kingsong1</a>
<a href="kingsong2"  >kingsong2</a>
<a href="kingsong3"  >kingsong3</a>
</div>
<center>
	<h1 >สายฝน </h1>
	<p style="width: 500px">เพลงพระราชนิพนธ์ สายฝน หรือ Falling Rain เป็นเพลงพระราชนิพนธ์ลำดับที่ ๓ ทรงพระราชนิพนธ์ใน พ.ศ. ๒๔๘๙ ขณะทรงเป็นสมเด็จพระอนุชาธิราช เป็นงานทดลองของพระองค์ในจังหวะวอลท์ซ ทรงพระกรุณาโปรดเกล้าฯ ให้พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ นิพนธ์คำร้องภาษาไทย ส่วนภาษาอังกฤษ พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ ทรงแต่งร่วมกับท่านผู้หญิงนพคุณ ทองใหญ่ ณ อยุธยา </p>
	<iframe width="690" height="408" src="https://www.youtube.com/embed/abzNRTAyVt0" frameborder="0" allowfullscreen></iframe>
	<p style="width: 500px">
เมื่อลมฝนบนฟ้ามาลิ่ว
ต้นไม้พลิ้วลู่กิ่งใบ
เหมือนจะเอนรากคลอนถอนไป
แต่เหล่าไม้ยิ่งกลับงาม
พระพรหมท่านบันดาลให้ฝนหลั่ง
เพื่อประทังชีวิตมิทราม<br>

น้ำทิพย์สาดเป็นสายพรายพลิ้วทิวงาม
ทั่วเขตคามชุ่มธารา
สาดเป็นสายพรายพลิ้วทิวทุ่ง
แดดทอรุ้งอร่ามตา
รุ้งเลื่อมลายพร่างพลายนภา
ยามเมื่อฝนมาแต่ไกล
พระพรหมช่วยอำนวยให้ชื่นฉ่ำ
เพื่อจะนำดับความร้อนใจ
น้ำฝนพลั่งลงมาจากฟ้าแดนไกล
พืชพรรณไม้ชื่นยืนยง<br>
	</p>
</center>	




	
</body>
</html>